<!DOCTYPE html>
<html>
<head>
	<title>Angular Bootstarp</title>
	<script src="libs/angular.js" ></script>
	<script src="libs/angular-route.js" ></script>
	<script src="app.js" ></script>
	<script src="controllers/welcome.js" ></script>
	<script src="controllers/addBlog.js" ></script>
	<script src="controllers/addAuthor.js" ></script>
	
	
</head>
<body ng-app="AvenueBlog">
	<div ng-controller="WelcomeController" >
		<div ng-include="'includes/header.html'"></div>
		<p>
			Blog engine written with AngularJS.
		</p>
		<p>
			<a href="#addBlog">Add Blog</a> |
			<a href="#addAuthor">Add Author</a>
		</p>
		<p>
			<div ng-view></div>
		</p>
		<p>
			Enter your name: <input type="text" name="author" ng-model="author"/>
		</p>
		<p>
			Your screen name would be: <span ng-bind="author.toLowerCase().split(' ').join('-')"></span>
		</p>
		<p>
			Titles Available are:
			<p>
				<ul ng-repeat="t in titlesAvailable">
					<li>{{t}}</li>
				</ul>
			</p>
		</p>
		
		<p>
			Popular Tags:
			<p>
				<ul ng-repeat="t in popularTags | orderBy:'rank'">
					<li>{{t.tag | lowercase}}</li>
				</ul>
			</p>
		</p>
		
		<p>
			Authors:
			<p>
				<ul ng-repeat="auth in authors">
					<li>{{auth.Name}}</li>
				</ul>
			</p>
		</p>
		<div ng-include="'includes/footer.html'"></div>
		
		<script type="text/ng-template" id="tmplAddBlog.htm">
			<p>
				Add Blog  {{message}}
			</p>
			<p>
				Enter Blog Title <input type="text" name="" ng-model="blogTitle" ng-change="change()" />
				<br>
				Your blog link will be : <span ng-bind="titlePermalink"></span>
			</p>
			<p>
				Enter number of lines you are expecting to write:
				<input type="text" name="" ng-model="numOfLines"/>
				<br/>
				Expect comments: <span ng-bind="MathService.getExpectedComments(numOfLines)"> </span>
			</p>
		</script>
		
		<script type="text/ng-template" id="tmplAddAuthor.htm">
			<p>
				Add Author {{message}}
			</p>
			<p>
				Enter Author details	
			</p>
		</script>
	</div>
</body>
</html>