<!DOCTYPE html>
<html>
<head>
	<title>Angular Bootstarp</title>
	<script src="libs/angular.js" ></script>
	<script src="app.js" ></script>
	<script src="controllers/welcome.js" ></script>
	
	
</head>
<body ng-app="AvenueBlog">
	<div ng-controller="WelcomeController" >
		<div ng-include="'includes/header.html'"></div>
		<p>
			Blog engine written with AngularJS.
		</p>
		<p>
			Enter your name: <input type="text" name="author" ng-model="author"/>
		</p>
		<p>
			Your screen name would be: <span ng-bind="author.toLowerCase().split(' ').join('-')"></span>
		</p>
		<p>
			Titles Available are:
			<p>
				<ul ng-repeat="t in titlesAvailable">
					<li>{{t}}</li>
				</ul>
			</p>
		</p>
		
		<p>
			Popular Tags:
			<p>
				<ul ng-repeat="t in popularTags | orderBy:'rank'">
					<li>{{t.tag | lowercase}}</li>
				</ul>
			</p>
		</p>
		
		<p>
			Authors:
			<p>
				<ul ng-repeat="auth in authors">
					<li>{{auth.Name}}</li>
				</ul>
			</p>
		</p>
		<div ng-include="'includes/footer.html'"></div>
	</div>
</body>
</html>